{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{# <button><a href="{{path('app_ajoutlivre')}}">Ajouter un livre</a></button>
<button><a href="{{path('app_modiflivre')}}">modifier les informations du livre</a></button>
<button><a href="{{path('app_supprimlivre')}}">Supprimer un livre</a></button> #}

{% endblock %}
